body,
html,
hr {
  padding: 0;
  margin: 0;
  position: relative;
}

hr {
  padding-bottom: 10px;
}

.Header {
  padding: 0.5rem 0.5rem;
  margin: 1em 0em;
  background-color: #81b7e5 !important;
}
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row-reverse;

  justify-content: space-between;
}
.main-content {
  width: 100%;
  max-width: 600px;
}
.watermark-image {
  max-width: 380px;
  object-fit: contain;
}
.logo {
  position: absolute;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
}

.certificate {
  width: 50%;
  margin: 0 auto;
  background-color: #2a632c !important;
  padding: 1em;
}
.certificate > p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #fff !important;
  font-weight: bolder;
}
.detail-info {
  padding-left: 1em;
  padding-top: 2em;
}
.page {
  border: 0.5em solid #405aa5;
}
.qr {
  text-align: right;
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 1em;
}

.text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
}

.text > hr {
  border-color: white;
  border-width: thick;
}
.footer {
  padding: 1.5rem 0 1.5rem;
}
.footer-hr {
  border-color: #345696;
  border-width: thick;
}
hr {
  padding: 0;
}
.main-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  margin: 13px;
}

@media (max-width: 768px) {
  .logo img {
    margin: 0 auto;
  }
  .certificate {
    width: 100% !important;
  }
  .watermark-image {
    max-width: 280px !important;
    object-fit: contain;
  }
  .text p {
    font-size: 14px;
  }
  .text {
    margin: 13px;
    margin: 0 auto;
  }
  .Header {
    padding: 10px;
  }
  .certificate > p {
    font-size: 14px !important;
  }
  .registration {
    margin: 20px auto;
    width: 100% !important;
  }
  .note {
    font-size: 14px;
  }
  .registration-content {
    padding: 0px !important;
  }
}
.registration-content {
  padding: 30px;
}
.main-container {
  padding-bottom: 10%;
}
.registration {
  margin: 20px auto;
  width: 50%;
}